%strong.text-success= "SUM: #{stage.sum.to_s} (#{(stage.sum * stage.item.price / 10000.0).round(2)}万)" 
%ul.list-unstyled
  - stage.list.each do |i|
    %li= i["name"] + " · " + i["saled"].to_s
  - if stage.code == "0.0"
    %li.text-muted= time_ago_in_words(stage.updated_at)
  - else
    %li.text-muted= stage.code