%table.table.table-hover
  %thead
    %tr
      %th.col-md-1 #
      %th.col-md-2 商品信息
      %th.col-md-2 图片
      %th.col-md-1 one
      %th.col-md-1 two
      %th.col-md-1 three
      %th.col-md-1 最近
      %th.col-md-1 当前
  %tbody
    - @items.each do |item|
      %tr
        %td= link_to item.code, item, target: :blank

        %td
          %ul.list-unstyled
            %li= link_to item.name, item.uri, target: :blank
            %li= item.price.to_s + ' rmb'
            %li
              = item.on_sale_date.strftime("%m-%d")
              \~
              = item.off_sale_date.strftime("%m-%d")
            %li= link_to "刷新", refresh_item_path(item, from: "index")

        %td= image_tag item.image_uri, width: "280px"

        - item.tag_stages.first(3).each do |stage|
          %td= render stage
        - if item.tag_stages.count < 3
          - (3 - item.tag_stages.count).times do
            %td= "..."

        %td= render item.latest_tag_stage    if item.latest_tag_stage
        %td= render item.latest_random_stage if item.latest_random_stage
