%table.table.table-hover
  %thead
    %tr
      %th.col-md-1 #
      %th.col-md-3 商品信息
      %th.col-md-3 图片
      %th.col-md-1 1.10
      %th.col-md-1 1.11
      %th.col-md-1 1.12
      %th.col-md-1 当前
  %tbody
    - @items.each do |item|
      %tr
        %td= item.code
        %td
          %ul.list-unstyled
            %li= link_to item.name, item.uri, target: :blank 
            %li= item.price.to_s + ' rmb'
            %li= item.created_at.strftime("%y-%m-%d")
            %li= link_to "刷新", refresh_item_path(item, from: "index")
        %td= image_tag item.image_uri, width: "280px"
        %td
        %td
        %td
        %td
          - stage = item.current_stage
          %strong.text-success= "SUM: #{stage.sum.to_s} (#{(stage.sum * item.price / 10000.0).round(2)}万)" 

          %ul.list-unstyled
            - stage.list.each do |i|
              %li= i["name"] + " · " + i["saled"].to_s
          
          %span.text-muted= time_ago_in_words(stage.updated_at)
