%table.table.table-hover
  %thead
    %tr
      %th.col-md-1 #
      %th.col-md-2 商品信息
      %th.col-md-2 图片
      %th.col-md-1 1.10
      %th.col-md-1 1.11
      %th.col-md-1 1.12
      %th.col-md-1 最近
      %th.col-md-1 当前
  %tbody
    - @items.each do |item|
      %tr
        %td= item.code
        %td
          %ul.list-unstyled
            %li= link_to item.name, item.uri, target: :blank 
            %li= item.price.to_s + ' rmb'
            %li
              = item.on_sale_date.strftime("%m-%d")
              \~
              = item.off_sale_date.strftime("%m-%d")
            %li= link_to "刷新", refresh_item_path(item, from: "index")
        %td= image_tag item.image_uri, width: "280px"
        %td= render item.first_1_stage if item.first_1_stage
        %td= render item.first_2_stage if item.first_2_stage
        %td= render item.first_3_stage if item.first_3_stage
        %td= render item.latest_tag_stage if item.latest_tag_stage
        %td= render item.current_stage
