%nav.navbar.navbar-default
  .container
    .navbar-header
      = link_to "VIP", "/", class: "navbar-brand"

    %ul.nav.navbar-nav.navbar-right
      %li{class: "#{params[:scope] == 'live' ? 'active' : ''}"}= link_to "活跃商品", items_path(scope: "live")
      %li{class: "#{params[:scope] == 'archive' ? 'active' : ''}"}= link_to "归档商品", items_path(scope: "archive")
      %li{class: "#{params[:scope].nil? ? 'active' : ''}"}= link_to "全部商品", items_path
      %li= link_to "添加+", new_item_path